@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css");
@import url("https://cdn.jsdelivr.net/npm/source-code-pro@2.38.0/source-code-pro.min.css");

:root {
    --monospace: "Source Code Pro", "LXGW WenKai Mono", sans-serif;
}

code,
kbd,
pre,
samp {
    font-family: var(--monospace);
    font-size: 1em;
}

@media (min-width: 1080px) {
    html {
        zoom: 120%;
    }

    :root {
        --text-font: "LXGW WenKai";
    }
}

@media (max-width: 1000px) {
    html {
        zoom: 100%;
    }

    :root {
        --text-font: "LXGW WenKai";
    }
}
