@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.7.0/style.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css");

@font-face {
    font-family: "xlwk";
    src: url("/assets/font/LXGWWenKai-Regular.ttf");
}

@font-face {
    font-family: "xlwkMono";
    src: url("/assets/font/LXGWWenKaiMono-Regular.ttf");
}

@font-face {
    font-family: "xlwk";
    src: url("/assets/font/LXGWWenKaiScreen.ttf");
}

@font-face {
    font-family: "code";
    src: url("/assets/font/SauceCodeProNerdFontPropo-Regular.ttf");
}

:root {
    --monospace: "LXGW WenKai Mono", sans-serif;
}

@media (min-width: 1080px) {
    html {
        zoom: 120%;
    }
}

code,
kbd,
pre,
samp {
    font-family: var(--monospace);
    font-size: 1em;
}
